body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-double {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTU3djVnamp5bWtpMW02ZTg3ZDF2aWgwZmhneTFuZWd0bTllenhteSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/neLN8jGsOXerkdz0Ey/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExODZtNXZpY2Y0bXZ2dnl5YjIyNDhtcnNoY2E0bjU3MjJxdzRkY3IwdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/801kwlTIfQFFMwU41V/giphy.webp");
}

#gift-img-genius:hover {
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmFtZm8ydjg3MWMzaTd3ZTEycGhsejBpdDJ1N3M2OWZtNHBrcGFtaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Qjmp5vKEERPyw/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2t6ZTZ1aXplbmUwODI3NnQ5bmxoaXJpdnpuYXAwMTNoaGg1aHc5diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6augMOu3XctcQ/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#gift-img-black:hover {
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExamh1dnBsNzMzN2ZwbWVvOHNxcXAzZ3E3eHFsOHFibnZiN2ZrZWlhdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/v5s1WhJibscgveoNH9/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
    text-shadow: 1px  1px 2px black;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/