body {
    margin: 0px;
    font-family: Poppins;
    text-align: center;
}

.hero {
    
    color: white;
    padding: 150px 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 40px auto;
    

    background-image: url(images/hlavak.jpg);
    background-position: 10% 40%;
    background-size: cover;
    
}

#hero-title  {
    padding: 20px 30px;
    background: #1D3557;
    font-size: 44px;
    font-weight: 700px;
}
#hero-subtitle {
    padding: 15px 20px;
    background: #457B9D;
}

img {
    width: 300px;
}

#activity-title {
    display: block;
    color: #1D3557;
    font-size: 24px;
    margin-bottom: 30px;
}

.example {
    display: flex;
    justify-content: center;
    
}

.activity {
    margin: ;
}

